/*Generate Password*/
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
h2,
form,
label {
  font-family: "Space Mono" !important;
}
.password-card {
  background-color: #0f0e14;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
  .password-con {
    h2 {
      font-size: 18px;
      color: #6d7576;
      font-weight: normal;
    }
  }
}

.copy-area {
  width: 400px;
  height: 40px;
  margin-top: 16px;
  position: relative;
  background-color: #24232b;
  display: flex;
  align-items: center;
  p {
    color: #bebebe;
    padding-left: 10px;
    font-family: "Space Mono" !important;
  }
  .copy-btn {
    background-color: transparent;
    padding: 10px;
    position: absolute;
    right: 0;

    top: 0;
    color: white;
    cursor: pointer;
  }
}

/*forms conrtrols*/
.forms {
  background-color: #24232b;
  margin-bottom: 40px;
  padding: 20px;
  width: 360px;
  margin-top: 8px;
  color: #e3e2e9;
  font-size: 14px;

  .form-item {
    text-align: left;
    width: 100%;
    margin: 8px 0;

    #length {
      width: 100%;
      margin: 12px 0;
      -webkit-appearance: none;

      &::-webkit-slider-runnable-track {
        background: #444;
        height: 6px;
        border-radius: 3px;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 16px;
        height: 16px;
        background-color: #a4ffaf;
        border-radius: 50%;
        margin-top: -5px;
      }

      &::-moz-range-track {
        background: #444;
        height: 6px;
      }

      &::-moz-range-thumb {
        width: 16px;
        height: 16px;
        background-color: #a4ffaf;
        border-radius: 50%;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

.range {
  position: relative;
  span {
    position: absolute;
    right: 0;
  }
}

/*check box css */

.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #bbbbbb;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  margin-right: 8px;
}

.custom-checkbox:checked {
  background-color: #a4ffaf;
  border-color: #a4ffaf;
}

.custom-checkbox:checked::after {
  content: "✓";
  font-size: 16px;
  color: #24232b;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.submit-btn {
  padding: 12px 0;
  background-color: #a4ffaf;
  color: #0f0e14;
  width: 100%;
  margin-top: 20px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  margin-bottom: 20px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  &:hover {
    background-color: #6adc78;
  }
}
/*end of forms*/
